*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Poppins, Montserrat;
  background-image: url(images\photo-1501139083538-0139583c060f.jpeg);
  background-position: center;
  background-size: cover;
}
.nav-bar{
  color:white;
  display: flex;
  font-weight: 500;
  line-height: 3em;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap:80px;
  background-image: linear-gradient(to right, #00a35f, #00B2FF);
  height:100px;
  width:100%;
}
.nav-center{
  font-size: 2em;
  font-weight: 600;
  font-family: Montserrat;
}
.nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap:20px;
}
.nav-left{
  font-size: 1.4em;
}
.home-Text{
  position: relative;
}
 .home-Text:hover::after{
   width: 100%;
 }
 .home-Text::after {
  content:"";
  position: absolute;
  height: 2px;
  background-color: white;
  bottom: 0;
  left:0;
  width: 0%;
  transition: 0.4s width ease;
}
.capsules-Text{
  position: relative;
  
}
 .capsules-Text:hover::after{
   width: 100%;
 }
 .capsules-Text::after {
  content:"";
  position: absolute;
  height: 2px;
  background-color: white;
  bottom: 0;
  left:0;
  width: 0%;
  transition: 0.4s width ease;
}
.about-Text{
  position: relative;
  
}
 .about-Text:hover::after{
   width: 100%;
 }
 .about-Text::after {
  content:"";
  position: absolute;
  height: 2px;
  background-color: white;
  bottom: 0;
  left:0;
  width: 0%;
  transition: 0.4s width ease;
}
